p.footer{
    color:white;
    font-size: 1.5em;
    text-decoration: solid;
}
.div-topico{
    height: 90vh;
    z-index: 2;
    position: relative;
}

.img-topico{
    height: 100%;
}

.div-topico-metade{
    height: 100%;
    width: 50%;
}

.div-topico-box{
    margin: 10%;
}

.bg-vermelho{
    background-color: #E42D26;
}

.bg-verde{
    background-color: #147827;
}

.bg-amarelo{
    background-color: #FED51E;
}

.txt-verde{
    color: #147827;
}

.txt-vermelho{
    color: #E42D26;
}
.txt-branco{
    color:white
}

.shadow{
    box-shadow: 5px 5px 5px 5px  rgba(0,0,0,0.2);
}

.a-direita{
    float: right;
}

.a-esquerda{
    float: left;
}

.centralizar{
    display: flex;
   align-items: center;
}



