#div-header, #div-principal, .div-conteudo, .div-topico, .div-img-topico, .div-texto, .calendario, .texto{
    margin: 0;
    padding: 0;
}

#div-header, #div-principal, .div-topico, ul, #footer-bottom {
    /* Centraliza os itens da div no centro (verticalmente)*/
   display: flex;
   align-items: center;
}



#div-principal{
    height: 90vh;
}

#div-sobre{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
}

#div-header{
   background-color:white;
   height: 10vh;
   /*para a div ficar fixa no topo do site*/ 
   z-index:4;
   position: fixed;
}

#footer-top{
    text-align: center;
    padding: 2% 0 2% 0;
    background-color: #141414;
}

#footer-bottom{
    padding: 1%;
    background-color: black;
}

#div-principal{
    background-image: url("../imagem/guarana2.png");
    background-size: 500px;
}
#div-titulo{
    margin: 10%;
    width: 50%;
    background-color: white;
}

#voltar-topo{
    margin-left: auto;
    margin-right: 2%;
}
#direitos-autorais{
    font-size: 0.9em;
    color: white;
}

#h1-h{
    padding-top: 2%;
    padding-bottom: 0;
    margin: 0;
    text-align: center;
}

#index-res-mobile{
    display: none;
}

.logo{
    width: 3em;
    height: 2.5em;
    float: left;
}

.img-borda{
    height: 25%;
}

.img-anim{
    height:20%;
    width: 40%;
}

.div-h-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.div-h-2{
    margin-top: 10%;
    position: absolute;
    z-index: 3;
}

/*Faz a organização dos links para as páginas*/
a {
    color: white;

    /*Retira a linha sublinhada do link*/
    text-decoration: none;
}

/*Estilização do link: normal, com o mouse sobre e quando já visitado, respectivamente*/
a{
    color: #147827;
}

a:hover{
    color: #E42D26;
}

h1{
    margin: 5%;
    color: white;
    font-size: 5em ;
}

h3.header{
    margin: 5%;
    font-size: 1.5em;
}

h3.sobre{
    color: white;
}

h4{
    color: white;
    }

h2{
    padding:0 ;
    color: white;
    font-size: 3em;
}


p{
    margin: 1% 0 1% 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
    text-align: justify;
}

html body{
    margin: 0;
    padding: 0;
    min-width: 100%;
}


span.footer{
    color:white;
    font-size: 1.5em;
    text-decoration: solid;
}

/*estilização da lista (navbar)*/
ul.header{
    /*faz com que a lista apareça sem marcações*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: solid;
    font-size: 1.5em;
    background-color: white;
    width: 100vw;

}

ul.header li:last-child {
    position: fixed;
    right: 0;
}

ul.footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: solid;
    font-size: 1.2em;
}

/*Faz com que os itens fiquem fltuando à esquerda*/
li.header{
    padding: 0 2% 0 2%;
    float: left;
}

/*Faz a estilização do background do link ao passar o mouse*/
li a:hover:not(.active) {
    color: #E42D26;
}
/*classe para indicar ao usuário a página atual*/
.active {
    color: #FED51E;
}

a.footer{
    color: white;
}
a:hover.hover-vermelho{
    color: #E42D26;
    border-color: #E42D26;
}

a:hover.hover-verde{
    color: #147827;
    border-color: #147827;
}

a:hover.hover-amarelo{
    color: #FED51E;
    border-color: #FED51E;
}

tr:nth-child(odd) {
    background-color: #e84f4a;
}

th, td{
    margin: 0;
    padding: 1%;
}

table, th, td {
    border-collapse: collapse;
    color: black;
}

p.primeira-letra::first-letter{
    font-size: 1.4em;
}

.div-topico, .text{
    height: 90vh;
    z-index: 2;
    position: relative;
}

.img-topico{
    height: 100%;
}

.div-topico-metade{
    height: 100%;
    width: 50%;
}

.div-topico-box, .texto{
    margin: 10%;
}

.bg-vermelho{
    background-color: #E42D26;
}

.bg-verde{
    background-color: #147827;
}

.bg-amarelo{
    background-color: #f2c40d;
}

.bg-wheat{
    background-image: url("../imagem/guarana2.png");
    background-size: 500px;
}

.txt-amarelo{
    color: #ffdb4d;
}

.txt-verde{
    color: #147827;
}

.txt-vermelho{
    color: #E42D26;
}
.txt-branco{
    color:white
}

.shadow{
    box-shadow: 4px 4px 4px 4px  rgba(0,0,0,0.2);
}

.a-direita{
    float: right;
}

.a-esquerda{
    float: left;
}

.centralizar-y{
    display: flex;
   align-items: center;
}

.centralizar-x{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralizar-txt{
    text-align: center;
}

.txt-direita{
    text-align: end;
}

.botao{
    margin-top: 5%;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    display: block;
    /*font-family: "Trebuchet MS";*/
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
    padding: 1% 2%;
    position: relative;
    width: 20%;
}

.botao:active:hover{
    top: 1px;

}

.div-texto{
    max-width: 100%;
    background-color: white;
    align-items: center;
    position: relative;
    align-content: center;
    margin: 0% 6%;
    display: flex;
}


.texto{
    
    color: #147827;
    text-align: left;

}

h2.titulo{
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #141414;
}

ol.txt{
    font-size:larger;
}

li.txt{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.indice{
    display: block;
    background-color: #147827;
    max-width: 100%;
    max-height: 100%;
    padding: 10px 20px 20px 20px;
    position: relative;

}

/*Quiz*/

.quiz {
    margin-bottom: 48px;
    width: 604px;
    align-items: center;
    font-weight: bold;

}

.quiz-header {
    background-color: #E42D26;
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.quiz-descricao {
    padding: 39px 19px 22px 19px;
    border: 1px solid #b8b8e0;
    background-color: white;
    color: #b8b8e0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-quiz{
    color: #147827;
}

.linha{
    width: 100%;
}

.img-h{
    transform: rotate(180deg);
    position: relative;
    top:75%
}

.li-bolinha{
    list-style-type: disc;
    
}

.a-curiosidades{

    color: #f2c40d;
}
.a-curiosidades:hover{
    color: #E42D26;
}

/*Remove as imagens caso a resolução da tela seja pequena*/
@media(max-width: 1000px){

    #index-res-mobile{
        display: block;
    }
    #index-res-padrao{
        display: none;
    }
}

/*animacao*/

@keyframes girar{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.animacao-giro{
    animation: girar 2s linear infinite;
}


/*tooltip*/

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltiptext {
visibility: hidden;
width: 110px;
background-color: #147827;
color: #fff;
border-radius: 8px;
padding: 5px;

position: absolute;
z-index: 1;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}




/* Slideshow container */
.slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
 .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }


  .mes ul, ul.dias, .semana ul {
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

/* Month header */
.mes {
  padding: 30px 0px;
  width: 100%;
  background: #E42D26;
  text-align: center;
}

/* Month list */
.mes ul {
  margin: 0;
  padding: 0;
}

.mes ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}


/* Weekdays (Mon-Sun) */
.semana {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.semana li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.dias {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  flex-wrap: wrap;
}

.dias li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  margin: 2%;
}

/* Highlight the "current" day */
.dias li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.calendario{
    
    display: inherit;
    padding: 10%;
    align-items: center;
}

/* Estilo do Jogo */

#personagem, #game, #quadrado{
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    display: flex;
   align-items: center;
   position: relative;
}



